body{
    display: flex;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 5em;
    /* background-color: red; */
}
.header{
    width: 40%;
    height: 70vh;
    background-color: rgba(0, 0, 255, 0.877);
    margin: 0 auto;
    border-radius: 20px;
    padding: .5em;
}
.finger{
    width: 50px;
    height: 60px;
    margin-left: 5.6em;
    margin-top: -1em;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 50%;
}
/* .finger2{
    width: 50px;
    height: 60px;
    margin-left: 5.7em;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 50%;
} */
.nav{
    width: 30%;
    height: 100px;
    background-color: rgb(0, 0, 255);
    border-radius: 20%;
    /* margin-left: 0.5px; */
    padding: 4px;
    display: flex;
    /*  */
}
.div{
    height: 10vh;
    /* background-color: aqua; */
    width: 40%;
    
}
.div1{
    height: 10vh;
    /* background-color: rgb(19, 26, 26); */
    width: 40%;
}
.round{
    width: 30px;
    background-color: rgba(0, 0, 0, 0.822);
    height: 30px;
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    margin-bottom: .5vh;
}